<p id="notice"><%= notice %></p>

<p>
  <b>Track name:</b>
  <%= @track.track_name %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @track.subtitle %>
</p>

<p>
  <b>Track num:</b>
  <%= @track.track_num %>
</p>

<p>
  <b>Track total:</b>
  <%= @track.track_total %>
</p>

<p>
  <b>Track artist:</b>
  <%= @track.track_artist %>
</p>

<p>
  <b>Track artist sort order:</b>
  <%= @track.track_artist_sort_order %>
</p>

<p>
  <b>Album artist:</b>
  <%= @track.album_artist %>
</p>

<p>
  <b>Album artist sort order:</b>
  <%= @track.album_artist_sort_order %>
</p>

<p>
  <b>Album name:</b>
  <%= @track.album_name %>
</p>

<p>
  <b>Genre:</b>
  <%= @track.genre %>
</p>

<p>
  <b>Date:</b>
  <%= @track.date %>
</p>

<p>
  <b>Original date:</b>
  <%= @track.original_date %>
</p>

<p>
  <b>Disc num:</b>
  <%= @track.disc_num %>
</p>

<p>
  <b>Disc total:</b>
  <%= @track.disc_total %>
</p>

<p>
  <b>Disc subtitle:</b>
  <%= @track.disc_subtitle %>
</p>

<p>
  <b>Group:</b>
  <%= @track.group %>
</p>

<p>
  <b>Lyrics:</b>
  <%= @track.lyrics %>
</p>

<p>
  <b>Composer:</b>
  <%= @track.composer %>
</p>

<p>
  <b>Mood:</b>
  <%= @track.mood %>
</p>

<p>
  <b>Compilation:</b>
  <%= @track.compilation %>
</p>

<p>
  <b>Comment:</b>
  <%= @track.comment %>
</p>

<p>
  <b>Album art:</b>
  <%= @track.album_art_id %>
</p>

<p>
  <b>Duration:</b>
  <%= @track.duration %>
</p>

<p>
  <b>Mtime:</b>
  <%= @track.mtime %>
</p>

<p>
  <b>Size:</b>
  <%= @track.size %>
</p>

<p>
  <b>Uri:</b>
  <%= @track.uri %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
