<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @album_art.data %>
</p>

<p>
  <b>Checksum:</b>
  <%= @album_art.checksum %>
</p>

<p>
  <b>Size:</b>
  <%= @album_art.size %>
</p>


<%= link_to 'Edit', edit_album_art_path(@album_art) %> |
<%= link_to 'Back', album_arts_path %>
